<div class="container my-10 p-10">
    <div class="page-title">
        <h2 class="text-green-500 text-center mb-5 font-bold text-4xl">All categories</h2>
    </div>
    <div class="content m-20">
        <div class="gap-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

            @for (cat of categoryList; track $index) {
            <button (click)="goSubCategory(cat._id)">
                <div
                    class="bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-lg hover:shadow-green-500 ease-in-out duration-500 h-full">
                    <div class="card flex flex-col justify-between h-full">
                        <div class="card-img">
                            <img [src]="cat.image" alt="">
                        </div>
                        <div class="card-body p-5 text-center">
                            <p>{{cat.name}}</p>
                        </div>
                    </div>
                </div>
            </button>
            }
        </div>
        @defer (when display==true ) {

        <app-sub-categories [id]="catID"></app-sub-categories>
        }
    </div>
</div>