@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    overflow: hidden;
    .up-button{
        transform: translateY(500px);
        transition: all 0.5s ease-in-out;
    }
    &:hover{
        .up-button{
            transform: translateY(0);
        }
    }
}