
<section>
    <h2 class="text-4xl text-center my-3 text-green-600 capitalize">{{"checkout.title"|translate}}</h2>
    @if (errorMessage!='') {
        <div class="w-[80%] mx-auto p-5 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert" >
            <button class="block ms-auto" (click)="alertClose()"><i class="fa-solid fa-xmark"></i></button>
            <p class="font-medium">{{errorMessage}}</p>
            
        </div>
    }

    <form class="w-[80%] mx-auto p-5" [formGroup]="checkoutForm" (ngSubmit)="submit()">

        <div class="mb-4">
            <label for="details" class="block mb-2 text-sm font-medium text-gray-900 capitalize">{{"checkout.details"|translate}}</label>
            <textarea formControlName="details" id="details"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 "></textarea>
        </div>
        @let detailsControl =checkoutForm.controls['details'];
        @if (detailsControl.errors && detailsControl.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">{{"checkout.danger"|translate}}</span>
            <div>
                <span class="font-medium">{{"checkout.ensure"|translate}}:</span>
                <ul class="mt-1.5 list-disc list-inside">
                    @if (detailsControl.hasError('required')) {
                        <li>{{"checkout.details-re"|translate}}</li>
                    }
                </ul>
            </div>
        </div>
        }
        <div class="mb-4">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">{{"checkout.phone"|translate}}</label>
            <input type="tel" formControlName="phone" id="phone"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 ">
        </div>
        @let phoneControl = checkoutForm.get('phone');
        @if (phoneControl?.errors && phoneControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">{{"checkout.danger"|translate}}</span>
                <div>
                    <span class="font-medium">{{"checkout.ensure"|translate}}:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (phoneControl?.hasError('required')) {
                            <li>{{"checkout.phone-re"|translate}}</li>
                        }
                        @if (phoneControl?.hasError('minlength')) {
                            <li>{{"checkout.phone-min"|translate}}</li>
                        }
                        @if (phoneControl?.hasError('pattern')) {
                            <li>{{"checkout.phone-pattern"|translate}}</li>
                        }
                    </ul>
                </div>
            </div>
            }
        <div class="mb-4">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900">{{"checkout.city"|translate}}</label>
            <input type="text" formControlName="city" id="city"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 ">
        </div>
        @let cityControl = checkoutForm.get('city');
        @if (cityControl?.errors && cityControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">{{"checkout.danger"|translate}}</span>
                <div>
                    <span class="font-medium">{{"checkout.ensure"|translate}}:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (phoneControl?.hasError('required')) {
                            <li>{{"checkout.city-re"|translate}}</li>
                        }
                    </ul>
                </div>
            </div>
            }

        <button
            class="bg-green-500 rounded-md px-6 py-2 text-white block ms-auto hover:bg-green-800 mt-3 disabled:bg-green-900 capitalize" type="submit" [disabled]="checkoutForm.invalid">{{"checkout.btn"|translate}}
        </button>

    </form>
</section>